<ion-tabs>
  <ion-tab-bar slot="bottom" style="--background: #002e6e;" selectedTab="chats">
    <ion-tab-button tab="chats" style="color: white;">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Chats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="groups" style="color: white;">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Groups</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" style="color: white;">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>