<ion-header>
  <ion-toolbar style="--background: #002e6e; color: white;">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form #form="ngForm">
      <ion-item>
        <ion-input type="email" name="email" placeholder="Email" ngModel></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" name="password" placeholder="Password" ngModel></ion-input>
      </ion-item><br>
      <ion-button (click)="signin(form)" style="--background: #002e6e; color: white;">Sign In</ion-button>
      <!-- <ion-button (click)="signup()" style="--background: #002e6e; color: white;">Sign Up</ion-button> -->
    </form>
</ion-content>
